.app {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: hsl(228, 56%, 98%);
}
.login-form {
  background-color: white;
  max-width: 40rem;
  padding: 4rem;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
  text-align: center;
  font-family: bold;
  font-size: 48px;
  margin-bottom: 40px;
  height: auto;
}
.text{
  height: auto;
}

.button{
  width: 300px;
  padding: 10px 0px;
  text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 3rem;
    text-decoration: none;
    background-image: linear-gradient(to top, #305a97, #2657af, #3252c5, #4f46d5, #742fe0);
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .login-form{
    min-height: 1px;
    box-shadow: none;
    position: relative;
  }
}